.settings {
    display: flex;

    .settings__Wrapper {
        flex: 9;
        padding: 20px;

        .settings__Title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .settings__UpdateTitle {
                font-size: 30px;
                margin-bottom: 20px;
                color: lightcoral;
            }

            .settings__DeleteTitle {
                color: red;
                font-size: 12px;
                cursor: pointer;
            }
        }

        .settings__Form {
            display: flex;
            flex-direction: column;

            .settings_ProfilePicture {
                display: flex;
                align-items: center;
                margin: 10px, 0;
            }

            .settings_ProfilePicture > img {
                width: 70px;
                height: 70px;
                border-radius: 20px;
                object-fit: cover;
            }

            .settings__ProfilePictureIcon {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: lightcoral;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                cursor: pointer;
            }

            .settings__Submit {
                width: 150px;
                align-self: center;
                border: none;
                border-radius: 10px;
                color: white;
                background-color: teal;
                padding: 10px;
                margin-top: 20px;
                cursor: pointer;
            }
        }

        .settings__Form > label {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin-top: 20px;
        }

        .settings__Form > input {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: gray;
            margin: 10px, 0;
            height: 30px;
            border: none;
            border-bottom: 1px solid lightgray;
        }

        .settings__Form > input:focus {
            outline: none;
        }
    }
}